body {
    color: WHITE; /*Цвет текста на странице*/
    background: linear-gradient(45deg, #000000, #9b24ca);
}

#panel{
    background: rgba(0, 0, 0, 0);
    height: 100%;
    margin-top: 2cm;
    height: 20cm;
}
