	.gradient-custom-2 {
		/* fallback for old browsers */
		background: #fccb90;

		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to top, #fd0000, #b82c2c,#000000);

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to top, #fd0000, #b82c2c,#000000);
	}

	.gradient-custom-1 {
		/* fallback for old browsers */
		background: #7c7c7c;

		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to bottom, #fd0000, #000000, #000000, #000000, #fd0000);

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to bottom, #fd0000, #000000, #000000, #000000, #fd0000);
	}

	@media (min-width: 768px) {
		.gradient-form {
			height: 100vh !important;
		}
	}
	@media (min-width: 769px) {
		.gradient-custom-2 {
			border-top-right-radius: .3rem;
			border-bottom-right-radius: .3rem;
		}
	}
